<?php

$databases['default']['default'] = array(
  'driver' => '{{ drupal_db_driver }}',
  'database' => '{{ drupal_db_database }}',
  'username' => '{{ drupal_db_username }}',
  'password' => '{{ drupal_db_password }}',
  'host' => '{{ drupal_db_host | default("localhost")}}',
  'prefix' => '{{ drupal_db_prefix | default("") }}',
);

$settings['hash_salt'] = '{{ drupal_hash_salt_file_path }}';
